<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>ACSYC - Sign In</title>
   <script src="../static/scripts/tools.js" defer></script>
  <link rel="stylesheet" href="../static/styles/form.css" />
</head>
<body>
  <header>
    <div class="logo">Academic Synergy Center</div>
    <nav>
      <a href="index.html">Home</a>
    </nav>
  </header>
<div class="container">
    <h1>Sign in</h1>
    <form action="/login" method="POST">
        <div class="form-group">
            <label for="identifier">Email:</label>
            <input type="text" placeholder="Type your Email..." id="identifier" name="identifier" required>
            <div id="login-error" class="error"></div>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" placeholder="Type your Password..." id="password" name="password" required>
        </div>
        <button class="btn" type="submit"><span>Login</span></button>
    </form>
    <p>Don't have an account? <a href="signup.html">Sign Up</a></p>
</div>
</body>
</html>